<div id="baslik" class="container">
    <div class="row">
        <div>
            <h1>makaleler.com.tr</h1>
            <a href="/Makale/GirisYap.cshtml" class="btn btn-success">Giriş Yap</a>

        </div>
    </div>
</div>
