<div id="footer" class="container">
    <div class="row">
        <div>
            <h2>Makaleler.com her hak saklıdır.</h2>
            <a href="" class="btn btn-success">İletişim</a>
        </div>

    </div>
</div>



