@model List<MakaleModel.Kategori>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="">MAKALE</a>
            
                
                    <table class=" table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Ad </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var kategori in Model)
                                {
                                    <tr>
                                        <td>@kategori.No</td>
                                        <td>@kategori.Ad</td>

                                    </tr>
                                }

                            </tbody>
                    </table>
        </div>
               
            
    </div>
</div>


