@model List<MakaleModel.Bolum>
@{
    Layout = "~/Views/Shared/_siteLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Ad</th>


                </tr>
            </thead>

            <tbody>
                @foreach (var bolum in Model)
                {
                    <tr>
                        <td>@bolum.No</td>
                        <td>@bolum.Ad</td>



                        <td>
                            <a class="btn btn-primary" href="/Makale/BolumGuncelle/@bolum.No">Güncelle</a>
                        </td>
                        <td>
                            <form method="post" action="/Makale/BolumSil">
                                <input type="hidden" value="@bolum.No" name="BolumNo" />
                                <button class="btn btn-danger" type="submit">
                                    Sil
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>